#footer{
    background-color: #00acb1;
    display: flex;
    column-gap: 3%;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 2%;
}
#footer a{
    color: #000;
    text-decoration: none;
}