#form{
    height: 80%;
    width: 400px;
    padding: 50px 35px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(203, 222, 222, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}
#loginform{
    background:url(blob-scatter-haikei.svg);
    background-size: cover;
    padding-top:5%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom:3.6%;
}
#form *{
    font-family: 'Poppins',sans-serif;
    color: #000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
#form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #000;
}

#or{
    text-align: center;
    font-family: 'Poppins',sans-serif;
    color:black;
}
#facelog{
    margin-top:1%;
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
#videoCam{
    display:none;
    margin-top: 18%;
    height: 75%;
    width: 100%;
    padding: 50px 35px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(203, 222, 222, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}
#clp{
    display: none;;
    margin-left:25%;
    width:50%;
    font-size:12px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 3%;
    
}